#main_directory{
    display: flex;
    height: 1450px;
    /*display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr;*/
    /*border: 10px solid black;*/
    flex-direction: column;
    text-align: center;
    
    
}

.buttons{
    /*min-width: 500px;
    grid-row: 1/2;
    grid-column: 2/3;*/
	/*display: flex;*/
	justify-content: center;
	column-gap: 10px;
	margin: 15px auto;
    /*border: 10px solid black;*/
}

div.cards{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



button.listBtn, button.cardBtn{
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px;
}

button.listBtn img, button.cardBtn img{
	display: block;
	width: 25px; /* width of container */
    height: 25px; /* height of container */
    object-fit: cover;
	margin: 5px auto;
}

.activeBtn{
	background-color: rgba(0,0,0,.4);
}

.bCard{
	max-width: 90%;
	margin: 20px auto;
	padding: 15px;
	box-shadow: 0px 2px 8px #888888;
    width: calc(100% - 15px);
}

.bCard h3{font-size: 1rem;}

.bCard p{padding: 5px 0; font-size: 1rem;}

.bCard a{word-wrap: break-word;}

img.logoImg{
	display: block;
	width: 200px; /* width of container */
    height: 120px; /* height of container */
    object-fit: cover;
	margin: 5px auto;
}