@media screen and (max-width: 1020px){
    .nav-menu{
        display: none;
    }
    .ham{
        height: 40px;
        width: 40px;
    }
    .nav-menu.show{
        display: flex;
        flex-direction: column;
        width: 150px;
        border: 1px solid black;
        align-items: center;
            
    }
}
@media screen and (min-width: 751px){
    .title{
        font-size: 18px;
    }


    footer{
        display: grid;
        text-align: center;
        background-color: gray;
        font-size: 14px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 80px 30px 50px
    }
    #img_footer{
        grid-column: 1/2;
    }
    .address{
        text-align: left;
        grid-column: 2/3;
    }
    .info{
        text-align: left;
        grid-column: 3/4;
        height: 50px;
    }
    .date{
        grid-column: 1/4;
    }
    #modified{
        grid-column: 1/4;
    }
}